* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --base-blue: hsla(195, 91%, 25%, 1);
    --base-white: hsla(0, 0%, 100%, 1);
    --base-light-gray: hsla(196, 100%, 98%, 1);
    --base-black-font: hsla(240, 6%, 13%, 1);
}

body {
    font-size: 1.6rem;
    background-color: var(--base-white);
    color: var(--base-black-font);
}

#app {
    margin: 0 auto;
}

.container {
    padding: 1.6rem 3.2rem;

    background-color: var(--base-blue);
    color: var(--base-white);
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    gap: 2.55rem;

    position: fixed;
    width: 100%;
}

header form {
    flex: 1;
}

.logo {
    background-color: var(--base-light-gray);
    padding: 0.8rem;
    border-radius: 50%;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem;

    border-radius: 0.4rem;
    border: 0;
    border-radius: 0.4rem;

    background: hsla(0, 0%, 100%, 0.2);
}

.input-wrapper input::placeholder {
    color: var(--base-white);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}

/*MAIN*/
.main-img {
    object-fit: cover;
    width: 100%;
}

.avaliation {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin-top: 3rem;
    margin-left: 2.2rem;

    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 1.2rem;
}

.buttons > button {
    width: 4rem;
    height: 4rem;
    padding: 1.2rem;

    background-color: var(--base-blue);

    border: 0;
    border-radius: 50%;
}

.buttons > button > img:hover {
    animation: grownImg 0.5s backwards alternate ease-in-out;
}

main p {
    margin: 3rem 2.2rem;

    line-height: 160%;
    text-align: justify;
    font-weight: 400;
}

/*ARTICLES*/
aside {
    display: flex;
    flex-direction: column;

    margin-left: 2.2rem;
    margin-bottom: 4rem;
}

aside h2 {
    font-size: 2.4rem;
    margin-top: 0.4rem;
    margin-bottom: 3.2rem;
    grid-area: h2;
}
.gallery {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.gallery img {
    width: 15rem;
    height: 8.4rem;
    object-fit: cover;

    grid-area: img;

    border-radius: 0.5rem;
}

.gallery img:hover {
    animation: grownImgArticle 1s backwards alternate ease-in-out;
}

.gallery .item {
    display: flex;
    gap: 1.6rem;
}

span {
    font-size: 1.4rem;
    line-height: 160%;
    font-weight: 400;
}

.gallery .tag {
    font-size: 1.8rem;

    margin-bottom: 1rem;
    grid-area: text;
}

.details h3 {
    margin-bottom: 1rem;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

/*MEDIA*/
@media (min-width: 1000px) {
    #app {
        display: grid;
        grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
        gap: 3.4rem;

        margin: 4rem 11rem;
    }

    header {
        grid-area: header;
        position: unset;
    }

    .avaliation {
        flex-direction: row;
        align-items: center;
        margin: 3.2rem 0;
        justify-content: space-between;
    }
    main p {
        margin: 0;
    }

    main p + p {
        margin-top: 3.2rem;
    }

    aside {
        width: 38.4rem;
        margin: 0;
    }

    .details {
        width: 21.5rem;
    }

    aside img {
        width: 150px;
    }

    footer {
        grid-area: footer;
    }
}

/*ANIMATION*/
@keyframes grownImg {
    50% {
        transform: scale(1.5);
    }
}

@keyframes grownImgArticle {
    25% {
        transform: scale(1.1);
    }
}
